
    <div class="container">
  
        <input type="button" (click)='in("1")' value="1">
        <input type="button" (click)='in("2")' value="2">
        <input type="button" (click)='in("3")' value="3">
        <input type="button" (click)='oprator("+")' value="+"><br/><br/>
  
        <input type="button" (click)='in("4")' value="4">
        <input type="button" (click)='in("5")' value="5">
        <input type="button" (click)='in("6")' value="6">
        <input type="button" (click)='oprator("-")' value="-"><br/><br/>
  
        <input type="button" (click)='in("7")' value="7">
        <input type="button" (click)='in("8")' value="8">
        <input type="button" (click)='in("9")' value="9">
        <input type="button" (click)='oprator("*")' value="*"><br/><br/>
  
        <input type="button" (click)='result()' value="=">
        <input type="button" (click)='clear()' value="C">
        <input type="button" (click)='in("/")' value="/">
  
    </div>