<div class="history">
    <h1>HISTORY</h1>
    <table>
        <tbody>
            <tr *ngFor="let h of history;">
                <td><p style="white-space: pre-line;">{{h}}</p></td>
                <td><a style="white-space: pre-line;" *ngIf="history" (click)="del()">DELETE</a></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="calculator">
    <input type="text" [(ngModel)]="display">
</div>

<div class="card">
    <div class="col-md-3 bg-primary" *ngFor="let b of buttonValues">
        <app-cal (box)="output($event)" [ivalues]="b"></app-cal>
    </div>
</div>




